@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: hsl(236, 72%, 79%);
  --very-light-blue: hsl(240, 78%, 98%);
  --light-grey-blue: hsl(234, 14%, 74%);
  --grey-blue: hsl(233, 13%, 49%);
  --dark-grey-blue: hsl(235, 45%, 64%);
}
body {
  max-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
header {
  justify-content: center;
  display: block;
  align-items: center;
}
.head {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
/* toggle */
.header-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
h2 {
  color: #00cc99;
}
input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #00cc99;
}
input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* price card */
.main {
  background-image: url("./images/bg-top.svg");
}
.price-card {
  display: flex;
  width: 100%;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.section {
  border: 1px solid rgb(187, 199, 194);
  box-shadow: 2px 6px 25px #222;
  background-color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: 1s;
}

.section:hover {
  transform: scaleY(1.1);
  background: var(--dark-grey-blue);
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h5 {
  padding-top: 2rem;
  color: #00cc99;
}
.year {
  padding: 2rem;
  font-size: 36px;
}

.month {
  font-size: 36px;
  padding: 2rem;
}

.section p {
  border-top: solid 1px var(--light-grey-blue);
  border-bottom: solid 1px var(--light-grey-blue);
  width: 100%;
  padding: 1rem;
  justify-content: center;
  display: flex;
}
.learn-more {
  margin: 1.5rem;
  background: #fff;
  padding: 0.45rem 2.5rem;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  color: #00cc99;
  box-shadow: 0 0 1px 0 #00cc99 inset, 0 0 5px 1px #00cc99;
  cursor: pointer;
}
.learn-more:hover {
  background-color: #00cc99;
  color: #fff;
  transform: scale(1.1);
}

.attribution {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 32px;
}
